/* 

f
o
n
t
y

font-family: 'Raleway', sans-serif;
font-family: 'Pacifico', cursive;
*/

body,
page {
    background-color: ;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;

}

::selection {
    background-color: #ff6033;
    color: white;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.no-padding{
  padding-left:0;
  padding-right:0;
}
.bottom-5 {
    margin-bottom: 5px;
}

.bottom-7 {
    margin-bottom: 7px;
}

.bottom-10 {
    margin-bottom: 10px;
}

.bottom-15 {
    margin-bottom: 15px;
}

.bottom-17 {
    margin-bottom: 17px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.left-15 {
    margin-left: 15px;

}

.right-15 {
    margin-right: 15px;
}

.width-15 {
    max-width: calc(50%-15px);
}

.container-padding {
    padding-left: 11%;
    padding-right: 11%;
}

.header {
    background-color: #f9f8fb;

}

.page__nav {
    background-color: #f9f8fb;


}

.navbar-brand {
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 50px;
    font-weight: 400;
}

.nav__menu {}

.nav__position {
    padding-right: 34px;

}

@media only screen and (min-width:992px) {
    .nav-link:hover {

        border-top: 3px solid #ff6033;

        margin-top: -3px;
        width: auto;
    }
}

.position__highlight--active {
    background-color: #ff6033;
}

.nav__link {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.nav__link:hover {}

.nav__link:active {}

.container {}

.fresh_life {
    background-color: ;
    padding-top: 120px;


}

.fresh_life__heading {
    padding-top: 17.25%;
    font-size: 60px;
    font-weight: 400;
}

.fresh_life__bg {
    background-image: url("../IMG/header__bg.png");
    background-size: cover;
    background-position: 50% 50px;
    background-repeat: no-repeat;
    height: calc(100% + 70px);
    padding-bottom: 1px;
}

.paragraph {
    font-size: 17px;
    font-weight: 300;
}

.p-left {
    text-align: left;
}

.p-right {
    text-align: right;
}

.p-center {
    text-align: center
}

.about__heading {
    padding-top: 180px;
}

.about__paragraph {
    padding-top: 36px;
    padding-bottom: 35px;

}



.btn {
    min-width: 100px;
    max-width: 200px;
    height: 55px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 0;
    color: white;
   -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.btn-orange {
    background-color: #ff6033;
}

.btn-blue {
    background-color: #5585a2;
}

.btn-green {
    background-color: #96b92c;
}

.btn-red {
    background-color: #f72b3b;
}

.btn-light {
    color: black;
    max-width: 400px;
    min-width: 200px;
    height: 100px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-overflow margin: 0 auto;
    margin: 0 auto;
}

.scroll_icon {
    background-image: url("../IMG/scroll.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 42px;
    display: block;
    margin: 0 auto;
    margin-top: 30vh;
    margin-bottom: 70px
}




.about-bg {
    background-color: #00afaf;
}

.about__heading {
    font-size: 90px;
    font-weight: bold;
    color: white;
}

.about__paragraph {
    color: white;
    font: 17px;
}


.services {
    background-color: #70bfff;
}

.services__heading {
    position: absolute;
    bottom: 30%;
    top: 25%;


    font-size: 90px;
    font-weight: bold;
    color: white;
}

.services__list {
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.btn-light {
    padding-right: 100px;
}

.btn-light:nth-child(1) {
    background-image: url("../IMG/icon_shopping.png");
    margin-bottom: 20px;
    margin-top: 180px;
}

.btn-light:nth-child(2) {
    background-image: url("../IMG/icon_product.png");
    margin-bottom: 20px;
}

.btn-light:nth-child(3) {
    background-image: url("../IMG/icon_delivery.png");
    margin-bottom: 20px;
}

.btn__break {
    display: block;
}

.btn-light:nth-child(4) {
    background-image: url("../IMG/icon_organized.png");
    margin-bottom: 150px;
}

services__img {
    background-color: #70bfff;
}



.subscribe {
    background-color: #fff;
}

.subscribe__heading {
    font-size: 40px;
    font-weight: 700;
    padding-top: 145px;
}

.subscribe__p {
    padding-top: 34px;
    padding-bottom: 31px;
}

@media only screen and (min-width:768px) {
    .subscribe__btn {
        position: absolute;
        bottom: 15px;
    }
}

.subscribe__btn {
    height: 60px;
}

.gallery {
    background-color: #ffe92f;

    padding-bottom: 40px
}

.gallery__heading {
    font-size: 90px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 28px;
}

.p-gallery {
    padding-bottom: 47px;
}

.gallery__img {
    ;
}

.gallery__item {
    margin-bottom: 30px;
}


.dis-block {
    display: block;
}

.blog {
    background-color: #b07cf7;
    padding-bottom: 120px;
}

.blog__heading {
    padding-top: 100px;
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

.blog__item {
    margin-bottom: 30px;
}

.blog__h2 {
    position: absolute;
    top:50% ;
    max-width: 300px;
    margin-right: 43px;
    margin-left: 20px;
font-size: 20px;
    font-weight: bold;
    color: white;
}

.blog__h3 {
    position: absolute;
    bottom: 23px;
    margin-right: 43px;
    margin-left: 20px;
font-size: 11px;


    color: white;
}
.hgh-50{height: 50%;}
.blog__img {
    z-index: ;
    height: auto;
    width: 100%;
    position: relative;
-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);

}

.time {
    width: 100%;
}

.blog__time {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(38, 38, 38, 0.5);
    font-weight: 700;
    color: white;
    text-align: center;

}

.blog__time p:first-child {
    font-size: 1.44rem;

    margin-bottom: 0;
}

.blog__time p:last-child {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 8px;
    margin-top: 0;
}

.gradient {
    position: absolute;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    
   
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
    animation: glow 1s reverse ;
    
    
}
@keyframes glow{100%{ }
    
    0%{}
    
    
}

.gradient:hover,.blog__img:hover ~ .gradient{
  display: none;
}

.blog__btn {
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    justify-content: center;
}







.contact {

    background-image: url("../IMG/contact__bg.png");
    background-size: cover;
    padding-bottom: 120px;
}

.contact__heading {
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    padding-top: 101px;
}

.contact__p {
    margin-top: 43px;
    margin-bottom: 46px;
    text-align: center;
    font-size: 13px;
    font-weight: 300px;
}

.form-control {
    background-color: rgba(0, 196, 196, 0.5);
    resize: none;
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 15px;
    color: white;
}

.form-control::placeholder {
    color: white;
    font-weight: 300;
}

.form-control:focus {
    background-color: rgba(0, 196, 196, 1);
    border-left: 7px solid #355b82;
    font-weight: 700;
    color: white;
}

.form-white {

    background-color: white;
    border: 1px solid black;
    color: #262626;
    height: 60px;
}

.form-white:focus {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.form-white::placeholder {
    color: #262626;
}

.contact__input {}

.contact__form {
    margin-bottom: auto;
}

.form-area {
    margin-bottom: 120px;
}

.footer {
    background-color: #262626;
    font-size: 16px;
    margin-top: -10px;
    padding-bottom: 1px;
    color: #929292;
    line-height: 32px;
}

.footer__company {}

.footer__logo {
    color: #888888;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 25px;
    font-weight: 400;


}

.footer__made .footer__love {
    color: #ff2b58;
}



.gallery__btn {
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    justify-content: center;
}

.services__list {}

/* responsive fonts */

@media (max-width: 240px) {
    .fresh_life__heading {
        font-size: 3rem;
        padding-top: 50px;
    }

    .btn-light {
        font-size: 0.75rem;
    }
    .about__heading{
        font-size: 3rem;
    }.gallery__heading {
        font-size: 3rem;
    }.services__heading{font-size: 3rem;}
    .subscribe__heading{font-size: 2.2rem;}
    .blog__heading{font-size:4rem;}
 .contact__heading{font-size:2.5rem;}
    .navbar-brand{font-size: 40px;}
    
    
    .blog__time{    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;}
    .blog__h2{    top: 50%;
    font-size: 20px;
    margin: 0;}
    .blog__h3{   bottom:0;
    
   }
    .blog__time p:first-child{font-size: 9px;}
    .blog__time p:last-child{font-size: 7px;}
}

@media (min-width: 576px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .footer{line-height: 64px;}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}
